<!doctype html>
<html>
    <head>
        <title>Edit task</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="CheckOff - the free and useful task tracker app">
        <meta name="keywords" content="to-do, tasks, checklist, checkoff">
        <meta name="author" content="Bharrat Gehlot">
        <title>Edit Task - CheckOff - The free and useful task tracker</title>
    </head>
    <body>
        <form action="{{ url_for('edit', index=index) }}" method="post">
            <input type="text" name="todo" value="{{ todo['task'] }}">
            <button type="submit">Save</button>
        </form>
    </body>
</html>
